Source: cpyrit-cuda
Section: net
Priority: extra
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Uploaders: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Build-Depends:
    debhelper (>= 7.0.50~),
    python-all-dev (>= 2.5),
    python-support (>= 0.90),
    python-scapy (>= 2.0),
    nvidia-cuda-toolkit,
    nvidia-cuda-dev,
    libssl-dev
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/pyrit/
Vcs-Svn: svn://svn.debian.org/python-apps/packages/pyrit/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-apps/packages/pyrit/trunk/

Package: cpyrit-cuda
Architecture: any
Depends:
    ${python:Depends},
    ${misc:Depends},
    ${shlibs:Depends},
    pyrit (>= 0.4.0-git20131223)
Recommends:
    python-scapy (>= 2.0),
    python-sqlalchemy (>= 0.5.6)
Suggests:
    python-psycopg2 | python-pymssql | python-mysqldb
Description: This package adds support for nvidia-cuda gpu acceleration to the existing *aaa pyrit packages.


